.landing_nav {
  position: sticky;
  display: flex;
  background-color: whitesmoke;
  height: 9vh;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.1);
}

.logo_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  --size: 6rem;
  height: var(--size);
  width: var(--size);
  margin-right: 15rem
}
.menu {
  font-size: 1.55rem;
  font-weight: 400;
  color: inherit;
  opacity: .9;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {

    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.5rem;
    &:hover{
      color: var(--color-white);
      background-color: var(--color-primary);
      cursor: pointer;
    }
  }
}