@import "../sass/abstracts/mixins";

.nav{
    display: flex;
    position: sticky;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
    background-color: var(--color-grey-dark-1);
    top: 0;
    left: 0;
    buttom: 0;
    @include respond(phone){
        display: none;
    }
}

.nav_block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_filler{
    flex-grow: 3;
}

.nav_page{


    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit !important;
    }
    flex-grow: 2;
    cursor: pointer;
    color: var(--color-white-2)
}

.nav_page:hover{
    background-color: var(--color-grey-dark-2);
    color: var(--color-white-1);
}

.nav_page-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.nav_page-text{
    margin: 0 10px;
}

.selected{
    background-color: var(--color-grey-dark-3);
    color: var(--color-white-1);
    font-weight: 600;
}

.selected:hover{
    background-color: var(--color-grey-dark-3);
}

